<div class="jumbotron">
  <h1 class="text-center">Create a Year</h1>
  <hr class="my-4">
  <%#= link_to "Add New Supervisor", new_user_path, class: "btn btn-primary" %>
</div>
<%= render 'years/form' %>
